<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda de Zapatos</title>
  <link rel="stylesheet" href="/static/css/design.css">


</head>
<body>
  <header>
    <div class="container">
      <h1>Dark Shoes</h1>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Hombre</a></li>
          <li><a href="#">Mujer</a></li>
          <li><a href="#">Niños</a></li>
          <li><a href="#">Contacto</a></li>

          <!-- Botón de prueba -->
          <button onclick="redirectToRegister()">Registrarse</button>

        </ul>
      </nav>
    </div>
  </header>

    <!-- Scripts linkeados al backend-->
    <script>
        function redirectToRegister() {
            window.location.href = "/redirect_to_register";
        }
        
        function redirectToCart() {
            window.location.href = "/redirect_to_cart";
        }
    </script>

  <div class="container">
    <section class="productos">
      <h2>Zapatos Destacados</h2>
      <div class="producto">
        <img src="../static/images/andres-jasso-PqbL_mxmaUE-unsplash.jpg" alt="Zapato 1">
        <h3>Zapato Elegante</h3>
        <p class="precio">$99.99</p>
        <!-- Botón de prueba -->
        <button onclick="redirectToCart()">Agregar al carrito</button>
      </div>
      <div class="producto">
        <img src="../static/images/maksim-larin-NOpsC3nWTzY-unsplash.jpg" alt="Zapato 2">
        <h3>Zapatillas Deportivas</h3>
        <p class="precio">$79.99</p>
        <button>Agregar al Carrito</button>
      </div>
      <div class="producto">
        <img src="../static/images/mnz-MHvwt4wicXI-unsplash.jpg" alt="Zapato 3">
        <h3>Zapato Casual</h3>
        <p class="precio">$59.99</p>
        <button>Agregar al Carrito</button>
      </div>
      <div class="producto">
        <img src="../static/images/joseph-barrientos-4qSb_FWhHKs-unsplash.jpg" alt="Zapato 4">
        <h3>Zapato Deportivo</h3>
        <p class="precio">$89.99</p>
        <button>Agregar al Carrito</button>
      </div>
      <!-- Agrega más productos según necesites -->
    </section>
  </div>

  <footer>
    <div class="container">
      <p>&copy; 2023 Dark Shoes</p>
    </div>
  </footer>

  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</body>
</html>
